# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Vector database & embeddings
*.faiss
*.pkl

# Uploaded files
uploaded.pdf

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
